rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn () { return request.auth != null; }
    function isOwnerByPath (uid) { return request.auth.uid == uid; } // this isn't quite right, it's checking path not the owner of the doc

    match /users/{uid}/{document=**} {
      allow read, write: if isSignedIn() && isOwnerByPath(uid);
    }
  }
}
